
extends layout

block content

block scripts
  script(type='text/javascript',src='/js/student.js')
  applet(class='recorder-applet', archive='http://gong.ust.hk/nanogong/nanogong.jar', code='gong.NanoGong', width=150, height=40)
    param(name='AudioFormat', value='Speex')
    param(name='MaxDuration', value='1200')
    param(name='SamplingRate', value='32000')
    param(name='ShowSaveButton', value='true')
    param(name='ShowSpeedButton', value='false')
    param(name='ShowRecordButton', value='false')
