
extends layout

block content

block scripts
  script(type='text/javascript',src='https://api.filepicker.io/v0/filepicker.js')
  script(type="text/javascript", src="https://js.stripe.com/v1/")
  script(type='text/javascript',src='/js/teacher.js')
  applet(class='recorder-applet', archive='http://gong.ust.hk/nanogong/nanogong.jar', code='gong.NanoGong', width=150, height=40)
    param(name='AudioFormat', value='Speex')
    param(name='MaxDuration', value='1200')
    param(name='SamplingRate', value='16000')