
extends layout

block content

block scripts
  //script(type='text/javascript',src='http://api.filepicker.io/v0/filepicker.js')
  script(type="text/javascript", src="https://js.stripe.com/v1/")
  script(type='text/javascript',src='/js/teacher.js')