
body
  font-family 'Helvetica'

.main.container
  margin-top 60px

.navbar-inner
  background-color #1a1231
.navbar > .navbar-inner > li.active
  color #4183C4 

@import welcome

@import lists

@import teacher
@import student
@import files
@import timeline
@import profile
@import login
@import emailer

.nav-list
  position fixed
  left 5px
  top 25px

.toggle-dash
  position fixed
  top 5px
  left 5px

.manage-password-view

  span.pw
    font-size 28px
    font-weight bold
    margin 50px
    color maroon



