
body
  font-family 'Helvetica'
  background-image url('/img/paper.png')
  background-color rgba(0,0,0,0.01)
  //-webkit-user-select none
  //-moz-user-select none

input
  font-family 'Helvetica'
input[type='text'], input[type='password']
  background-color #eee

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
  background-color: rgba(64,0,128, 0.02)

applet
  position fixed
  top -60px
  right 10px

applet.submit-error
  top 50%
  left 5%

applet.test
  position static
  float left



.main.container
  margin-top 60px

.navbar-inner
  background-color #1a1231
.navbar > .navbar-inner > li.active
  color #4183C4 

.buffer-top
  margin-top 60px

@import welcome

@import lists

@import teacher
@import student
@import files
//@import timeline
@import profile
@import login
@import emailer
@import lab
@import lounge



.toggle-dash
  position fixed
  top 5px
  left 5px

.manage-password-view

  span.pw
    font-size 28px
    font-weight bold
    margin 50px
    color maroon

.ui-tags
  
  input
    font-size 10x
    height 20px
    padding 2px
    width 44px
    margin-left 10

  .tag
    margin 2px
    float left

  .ui-tags-cont
    word-wrap break-word


.tags-list
  color #aaa
  font-size 10px
  cursor pointer
  padding-left 10px

  .tag    
    margin-left 4px
    float left
    border-bottom 1px solid rgba(0,0,0,0.05)
    padding-left 5px
    padding-right 5px
    padding-top 0px
    padding-bottom 0px
    line-height 1.6

.tags-list:hover
  color #999

.slider-cont
    width 100%
    height 18px
    -webkit-user-select: none

    .slider-groove
      position relative
      left 0px
      right 0px
      height 50%
      border 1px solid #333
      border-radius 2px
      background-color rgba(0,0,0,0.1)

    .slider-handle
      position absolute
      cursor ew-resize
      //top 0px
      margin-left -4px
      bottom -100%
      //width 8px
      //z-index 8000
      //border-radius 8px
      //background-color #333
      //border 1px solid #333

    .slider-mark
      position absolute
      color #ffff00
      width 2px
      left 20%
      top 0px
      bottom 0px

