

.lab-view


  margin-top 60px

  .media-cont
    border 1px solid blue

  .message-cont
    border 1px solid #333


  .btn.box
    border none
    background-color none
    background-image none
    background-gradient none
    opacity 0.5
    padding 2px

  .btn.box.active
    opacity 1
    text-shadow 0px 0px 15px green

  .icon-heart
    color #310000

  .icon-heart.online
    color red
    text-shadow 0px 0px 8px red
