


.wb-tts .icon-cont
  border 1px solid #0080ff
  padding 2px
  color #0080ff
  cursor pointer
  opacity 0.8
  border-radius 4px


.wb-tts:hover .icon-cont
  opacity 1

.wb-tts .spinner
  position relative
  top 0px
  left 8px


.wb-input.state-correct 

  box-shadow 0px 0px 10px #00ff80

  input
    border-color #00ff80
  span
    color #00ff80
    border-color #00ff80

.wb-input.state-feedback
  
  box-shadow 0px 0px 10px #ff8000

  input
    border-color #ff8000
  span
    color #ff8000
    border-color #ff8000

.wb-input.state-wrong
  
  box-shadow 0px 0px 10px #ff0000

  input
    border-color #ff0000
  span
    color #ff0000
    border-color #ff0000


.wb-input .notify
  cursor pointer



.student-lab-view

  


  .fullscreen .media
    position fixed
    top 0px
    left 0px
    right 0px
    bottom 0px
    z-index 9000
    background-color black
    text-align center

    video
      height 100%

    img
      height 100%
      width auto

  .media.hid
    display none

  .media-cont

    video, audio, img
      width 100%

    video.audio-type
      height 0px
      width 0px

.lab-view

  margin-top 60px
  display none



  .lab-settings

    .act-tags-cont
      margin-top 10px

  .accordion-group


    .collapse.in
      .media-cont
        opacity 0.4
        background-color rgba(0,0,0,0.01)

    .collapse
      .media-cont
        opacity 1
        background-color rgba(0,0,0,0.01)

    .accordion-heading
      background-color rgba(0,0,0,0.05)
      a
        color #333

      .navbar-search .search-query
        font-size 11px
        padding 0px 10px

  .accordion-group.visible

    border 1px solid #d8a3ff
    box-shadow 0px 0px 10px #d8a3ff

    .collapse
      .media-cont
        opacity 1

    .collapse.in
      .media-cont
        opacity 1

  .lab-recorder-cont

    .accordion-inner
      min-height 160px

    .accordion-body.in
      overflow: visible

    .pause-vid
      font-size: 10px
      padding 0px
      margin 0px

    input.question-label
      font-size 12px
      line-height 1.4


  .lab-students-cont

    .need-help
      color red
      text-shadow 0px 0px 6px red

    table
      margin-bottom 0px

    .lab-student-list-cont


    .lab-student-list
      margin-top 20px


      .lab-student
        .online-status
          color #b3b3b3

      .lab-student.online

        .online-status
          color #00ff00
          text-shadow 0px 0px 10px #00ff00

      .lab-student.online.help
        background-color rgba(255,204,102,0.1)

        .online-status
          color orange
          text-shadow 0px 0px 8px orange
            

    .accordion-inner
      min-height 350px


    select
      font-size 10px
      height 20px
  
  


  .btn.box
    border none
    background-color none
    background-image none
    background-gradient none
    opacity 0.5
    padding 2px

  .btn.box.active
    opacity 1
    text-shadow 0px 0px 15px green

  

  .lab-wb-a, .lab-wb-b
    background-color #eee

  .wb-cont
    padding 2px
    line-height: 1.5




  .media-player
    .controls-cont
      height 34px

  .media-cont




    video, audio, img
      width 100%

    video.audio-type
      height 0px
      width 0px

    

    

    .scrubber-cont
      margin-top 10px
  

  .wb-body
    padding 4px



  .editor-area
    min-height 150px
    margin-top 30px
    border 1px solid #ccc
    background-color rgba(255,255,255,0.4)
    padding 8px
    opacity 0.6

  .editor-area:focus
    outline none

  .editor-area.visible
    opacity 1

  
  .lab-file-list

    max-height 300px
    overflow-y auto

    border-top: 1px solid #eee
    border-bottom: 1px solid #eee
    background-color none
    padding 0px



    .thumbnail
      background-color none

    .lab-file
      background-color none

      img
        max-height 75px

      .caption
        text-align center







