
.detail
  margin 20px

  input.fld
    font-size 20px
    padding 5px

  span.add-on
    padding 5px


.controls-cont
  .add-on, input
    padding 6px

  input
    font-size 20px

  button.stats
    background-color transparent
    background-image none
    border transparent
    box-shadow none
    padding 4px
    font-size 14px

.list-cont
  font-size 16px
  color #748387




  .list-item
    
    font-size 15px

    .title, .name
      font-size 16px

    i
      font-size 15px
      position relative
      bottom -6px

    .student
      font-size 12px
      color #748387
      margin-left 10px 

    .timestamp
      font-size 11px
      opacity 0.7
      font-style italic
      margin-left 20px

    input
      font-size 14px
      padding 4px
      background-color transparent
      border 1px solid transparent

    input.err, input.err:hover, input.err:focus
      background-color rgba(255,0,0,0.1)
      border 1px dotted rgba(255,0,0,0.5)

    input:hover, input:focus
      background-color rgba(255,255,255,0.8)
      border 1px dotted #333

    .thumb-cont
      text-align center
      vertical-align top
      max-height 40px
      max-width 40px
      margin 20px

        img
          width 50px
          box-shadow 0px 0px 10px #333






thead.off
  display none

thead 


  .list-item
    background-color rgba(0,255,0,0.02)

    input
      background-color #eee
      border 1px dotted #ccc

