
.student-main
  margin-top: 60px

  .piggy-bank
    padding 6px

  input
    border none
    box-shadow none

  .icon-heart
    color #310000

  tr button
    opacity 0

  tr:hover button
    opacity 1