
.student-detail-main
  margin-top 60px

  img
    width 150px

  .recordings-tab

    img
      width 30px
      height 24px

  .recordings-cont
    padding 10px

  .player-cont
    padding 5px

    .controls-cont
      height 34px

  .scrubber-cont
    padding 15px

.student-main
  margin-top 60px

  .piggy-bank
    padding 6px

  input
    border none
    box-shadow none

  .icon-heart
    color rgba(49,0,0,0.5)

  .icon-heart.online
    color rgba(255,0,0,0.8)
    text-shadow 0px 0px 8px rgba(255,0,0,0.8)

  tr .btn
    opacity 0

  tr .btn.active
    opacity 1

  tr:hover .btn
    opacity 1

  button.stats
    background-color transparent
    background-image none
    border transparent
    box-shadow none
    padding 4px
    font-size 14px