
.student-detail-main
  margin-top 60px

  img.profile
    width 50px
    height 50px

  .recordings-tab

    img
      width 30px
      height 24px

  .recordings-cont
    padding 10px

    img.thumb
      height 24px
      width 30px

  .player-cont
    padding 5px

    .controls-cont
      height 62px

  .scrubber-cont
    padding 15px

.student-main
  margin-top 60px

  .piggy-bank
    padding 6px

  input
    border none
    box-shadow none

  .icon-heart
    color rgba(49,0,0,0.5)

  .icon-heart.online
    color rgba(255,0,0,0.8)
    text-shadow 0px 0px 8px rgba(255,0,0,0.8)

  tr .btn
    opacity 0

  tr .btn.active
    opacity 1

  tr:hover .btn
    opacity 1

  .student-item
    .online-status
      color #b3b3b3

  .student-item.online

    .online-status
      color #00ff00
      text-shadow 0px 0px 10px #00ff00

  .student-item.online.help
    background-color rgba(255,204,102,0.1)

    .online-status
      color orange
      text-shadow 0px 0px 8px orange

  button.stats
    background-color transparent
    background-image none
    border transparent
    box-shadow none
    padding 4px
    font-size 14px