body {
  font-family: 'Helvetica';
  background-image: url("/img/paper.png");
  background-color: rgba(255,255,255,0.5);
}
.loading-view {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.6);
}
.loading-view .spinner-cont {
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.loading-view .loading-text {
  float: right;
}
input {
  font-family: 'Helvetica';
}
input[type='text'],
input[type='password'] {
  background-color: #eee;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgba(64,0,128,0.02);
}
applet {
  position: fixed;
  top: -60px;
  right: 10px;
}
applet.submit-error {
  top: 50%;
  left: 5%;
}
applet.test {
  position: static;
  float: left;
}
.main.container {
  margin-top: 60px;
}
.navbar-inner {
  background-color: #1a1231;
}
.navbar > .navbar-inner > li.active {
  color: #4183c4;
}
.buffer-top {
  margin-top: 60px;
}
.logo {
  padding: 40px;
}
.login-screen button {
  margin: 4px;
}
.login-screen .help-block {
  padding: 4px;
}
.detail {
  margin: 20px;
}
.detail input.fld {
  font-size: 20px;
  padding: 5px;
}
.detail span.add-on {
  padding: 5px;
}
.controls-cont .add-on,
.controls-cont input {
  padding: 6px;
}
.controls-cont input {
  font-size: 20px;
}
.controls-cont button.stats {
  background-color: transparent;
  background-image: none;
  border: transparent;
  box-shadow: none;
  padding: 4px;
  font-size: 14px;
}
.list-cont {
  font-size: 16px;
  color: #748387;
}
.list-cont .list-item {
  font-size: 15px;
}
.list-cont .list-item .title,
.list-cont .list-item .name {
  font-size: 16px;
}
.list-cont .list-item i {
  font-size: 15px;
  position: relative;
  bottom: -6px;
}
.list-cont .list-item .student {
  font-size: 12px;
  color: #748387;
  margin-left: 10px;
}
.list-cont .list-item .timestamp {
  font-size: 11px;
  opacity: 0.7;
  font-style: italic;
  margin-left: 20px;
}
.list-cont .list-item input {
  font-size: 14px;
  padding: 4px;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: none;
}
.list-cont .list-item input.err,
.list-cont .list-item input.err:hover,
.list-cont .list-item input.err:focus {
  background-color: rgba(255,0,0,0.1);
  border: 1px dotted rgba(255,0,0,0.5);
}
.list-cont .list-item input:hover,
.list-cont .list-item input:focus {
  background-color: rgba(255,255,255,0.8);
  border: 1px dotted #333;
}
thead.off {
  display: none;
}
thead .list-item {
  background-color: rgba(0,255,0,0.02);
}
thead .list-item input {
  background-color: #eee;
  border: 1px dotted #ccc;
}
.top-bar {
  font-family: 'Helvetica';
}
.top-bar img {
  width: 24px;
  border-radius: 4px;
}
.top-bar img:hover {
  box-shadow: 0 0 6px #eee;
}
.top-bar ul.nav li {
  font-size: 16px;
}
.top-bar li.user {
  margin-top: 8px;
}
.top-bar .icon-heart {
  color: #800000;
}
.top-bar .heart:hover .icon-heart {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.flash-message {
  position: fixed;
  top: 45px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.student-detail-main {
  margin-top: 60px;
}
.student-detail-main img.profile {
  width: 50px;
  height: 50px;
}
.student-detail-main .recordings-tab img {
  width: 30px;
  height: 24px;
}
.student-detail-main .recordings-cont {
  padding: 10px;
}
.student-detail-main .recordings-cont img.thumb {
  height: 24px;
  width: 30px;
}
.student-detail-main .player-cont {
  padding: 5px;
}
.student-detail-main .player-cont .controls-cont {
  height: 62px;
}
.student-detail-main .scrubber-cont {
  padding: 15px;
}
.student-main {
  margin-top: 60px;
}
.student-main .piggy-bank {
  padding: 6px;
}
.student-main input {
  border: none;
  box-shadow: none;
}
.student-main .icon-heart {
  color: rgba(49,0,0,0.5);
}
.student-main .icon-heart.online {
  color: rgba(255,0,0,0.8);
  text-shadow: 0px 0px 8px rgba(255,0,0,0.8);
}
.student-main tr .btn {
  opacity: 0;
}
.student-main tr .btn.active {
  opacity: 1;
}
.student-main tr:hover .btn {
  opacity: 1;
}
.student-main .student-item .online-status {
  color: #b3b3b3;
}
.student-main .student-item.online .online-status {
  color: #0f0;
  text-shadow: 0px 0px 10px #0f0;
}
.student-main .student-item.online.help {
  background-color: rgba(255,204,102,0.1);
}
.student-main .student-item.online.help .online-status {
  color: #ffa500;
  text-shadow: 0px 0px 8px #ffa500;
}
.student-main button.stats {
  background-color: transparent;
  background-image: none;
  border: transparent;
  box-shadow: none;
  padding: 4px;
  font-size: 14px;
}
.files-main {
  margin-top: 60px;
}
.files-main .btn {
  cursor: pointer;
}
.files-main .btns-add .btn {
  margin-left: 4px;
}
.file-list-item input {
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: none;
}
.file-list-item input:hover {
  border: 1px dotted #333;
}
.file-list-item td .del {
  cursor: pointer;
  color: #ccc;
}
.file-list-item .thumb-cont {
  cursor: pointer;
}
.file-list-item .thumb-cont img {
  width: 100px;
}
.file-list-item .thumb-cont.image img,
.file-list-item .thumb-cont.video img {
  box-shadow: 2px 2px 5px #333;
}
.file-list-item:hover .del {
  color: #800000;
}
.browser-item {
  overflow: hidden;
}
.files-list {
  margin-top: 10px;
}
.files-list .btn-loose-group .btn {
  margin: 5px;
}
.files-list .logo {
  color: #999;
}
.files-list .hdr {
  margin-bottom: 10px;
}
.files-list li:hover {
  background-color: rgba(255,255,102,0.2);
  box-shadow: 2px 2px 10px rgba(255,255,102,0.2);
}
.files-list .thumbnail {
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
}
.files-list .thumbnail .file-type-icon {
  display: none;
}
.files-list .thumbnail img {
  height: 75%;
}
.files-list .thumbnail:hover img,
.files-list .thumbnail:hover .caption {
  background-color: transparent;
}
.files-list .thumbnail.video img,
.files-list .thumbnail.image img {
  box-shadow: 1px 1px 3px #333;
}
.files-list .thumbnail.video .file-type-icon,
.files-list .thumbnail.image .file-type-icon {
  display: block;
  position: relative;
  top: -30px;
  left: 10px;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  color: #eee;
}
.files-list .browser-item {
  height: 200px;
  white-space: nowrap;
}
.files-list .browser-item input.title {
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
}
.files-list .browser-item input.title:hover {
  border: 1px dotted #333;
}
.files-list .browser-item .item-info {
  position: relative;
  left: 3px;
  right: 3px;
  overflow-x: hidden;
  text-align: center;
}
.files-list .navbar,
.files-list .navbar-inner {
  background-color: transparent;
  background-image: url("img/bg.png");
}
.modal.file-selector .modal-list-item .thumb img {
  max-width: 100px;
}
.profile-view .modal-header img {
  border: 1px solid #333;
  padding: 3px;
  border-radius: 4px;
}
.teacher-page-view img {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
}
.emailer-view .modal-body {
  height: 320px;
}
.emailer-view .modal-body .editor-area {
  background-color: none;
  border: 1px solid #eee;
  width: 90%;
  height: 260px;
  padding: 8px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}
.emailer-view .modal-body .editor-area .template-field {
  -webkit-user-select: none;
  user-select: none;
  display: inline;
  padding-left: 6px;
  border-radius: 30px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-top: 3px;
  margin: 0px;
  background-color: #5c3fae;
  color: #fff;
  font-size: 16px;
}
.accordion-inner {
  height: 100%;
  background-color: rgba(255,255,255,0.4);
}
.accordion-body {
  background-color: rgba(255,255,255,0.4);
}
.wb-tts .icon-cont {
  border: 1px solid #0080ff;
  padding: 2px;
  color: #0080ff;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
}
.wb-tts:hover .icon-cont {
  opacity: 1;
}
.wb-tts .spinner {
  position: relative;
  top: 0px;
  left: 8px;
}
.wb-input.state-correct {
  box-shadow: 0px 0px 10px #00ff80;
}
.wb-input.state-correct input {
  border-color: #00ff80;
}
.wb-input.state-correct span {
  color: #00ff80;
  border-color: #00ff80;
}
.wb-input.state-feedback {
  box-shadow: 0px 0px 10px #ff8000;
}
.wb-input.state-feedback input {
  border-color: #ff8000;
}
.wb-input.state-feedback span {
  color: #ff8000;
  border-color: #ff8000;
}
.wb-input.state-wrong {
  box-shadow: 0px 0px 10px #f00;
}
.wb-input.state-wrong input {
  border-color: #f00;
}
.wb-input.state-wrong span {
  color: #f00;
  border-color: #f00;
}
.wb-input .notify {
  cursor: pointer;
}
.sound-rec-test .mic-cont {
  text-align: center;
}
.sound-rec-test .mic {
  border: 1px solid #333;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}
.student-lab-view .fullscreen .media {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9000;
  background-color: #000;
  text-align: center;
}
.student-lab-view .fullscreen .media video {
  height: 100%;
}
.student-lab-view .fullscreen .media img {
  height: 100%;
  width: auto;
}
.student-lab-view .media.hid {
  display: none;
}
.student-lab-view .media-cont video,
.student-lab-view .media-cont audio,
.student-lab-view .media-cont img {
  width: 100%;
}
.student-lab-view .media-cont video.audio-type {
  height: 0px;
  width: 0px;
}
.lab-view {
  margin-top: 60px;
  display: none;
}
.lab-view .lab-settings .act-tags-cont {
  margin-top: 10px;
}
.lab-view .accordion-group .collapse.in .media-cont {
  opacity: 0.4;
  background-color: rgba(0,0,0,0.01);
}
.lab-view .accordion-group .collapse .media-cont {
  opacity: 1;
  background-color: rgba(0,0,0,0.01);
}
.lab-view .accordion-group .accordion-heading {
  background-color: rgba(0,0,0,0.05);
}
.lab-view .accordion-group .accordion-heading a {
  color: #333;
}
.lab-view .accordion-group .accordion-heading .navbar-search .search-query {
  font-size: 11px;
  padding: 0px 10px;
}
.lab-view .accordion-group.visible {
  border: 1px solid #ff6;
  box-shadow: 0px 0px 10px #ff6;
}
.lab-view .accordion-group.visible .collapse .media-cont {
  opacity: 1;
}
.lab-view .accordion-group.visible .collapse.in .media-cont {
  opacity: 1;
}
.lab-view .lab-recorder-cont .accordion-inner {
  min-height: 160px;
}
.lab-view .lab-recorder-cont .accordion-body.in {
  overflow: visible;
}
.lab-view .lab-recorder-cont .pause-vid {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
.lab-view .lab-recorder-cont input.question-label {
  font-size: 12px;
  line-height: 1.4;
}
.lab-view .lab-students-cont .need-help {
  color: #f00;
  text-shadow: 0px 0px 6px #f00;
}
.lab-view .lab-students-cont table {
  margin-bottom: 0px;
}
.lab-view .lab-students-cont .lab-student-list-cont,
.lab-view .lab-students-cont .lab-student-list {
  margin-top: 20px;
}
.lab-view .lab-students-cont .lab-student-list-cont .lab-student .online-status,
.lab-view .lab-students-cont .lab-student-list .lab-student .online-status {
  color: #b3b3b3;
}
.lab-view .lab-students-cont .lab-student-list-cont .lab-student.online .online-status,
.lab-view .lab-students-cont .lab-student-list .lab-student.online .online-status {
  color: #0f0;
  text-shadow: 0px 0px 10px #0f0;
}
.lab-view .lab-students-cont .lab-student-list-cont .lab-student.online.help,
.lab-view .lab-students-cont .lab-student-list .lab-student.online.help {
  background-color: rgba(255,204,102,0.1);
}
.lab-view .lab-students-cont .lab-student-list-cont .lab-student.online.help .online-status,
.lab-view .lab-students-cont .lab-student-list .lab-student.online.help .online-status {
  color: #ffa500;
  text-shadow: 0px 0px 8px #ffa500;
}
.lab-view .lab-students-cont .accordion-inner {
  min-height: 350px;
}
.lab-view .lab-students-cont select {
  font-size: 10px;
  height: 20px;
}
.lab-view .btn.box {
  border: none;
  background-color: none;
  background-image: none;
  background-gradient: none;
  opacity: 0.5;
  padding: 2px;
}
.lab-view .btn.box.active {
  opacity: 1;
  text-shadow: 0px 0px 15px #008000;
}
.lab-view .lab-wb-a,
.lab-view .lab-wb-b {
  background-color: #eee;
}
.lab-view .wb-cont {
  padding: 2px;
  line-height: 1.5;
}
.lab-view .media-player .controls-cont {
  height: 34px;
}
.lab-view .media-cont video,
.lab-view .media-cont audio,
.lab-view .media-cont img {
  width: 100%;
}
.lab-view .media-cont video.audio-type {
  height: 0px;
  width: 0px;
}
.lab-view .media-cont .scrubber-cont {
  margin-top: 10px;
}
.lab-view .wb-body {
  padding: 4px;
}
.lab-view .editor-area {
  min-height: 150px;
  border: 1px solid #ccc;
  background-color: rgba(255,255,255,0.4);
  padding: 8px;
  opacity: 0.6;
}
.lab-view .editor-area:focus {
  outline: none;
}
.lab-view .editor-area.visible {
  opacity: 1;
}
.lab-view .lab-file-list {
  max-height: 300px;
  overflow-y: auto;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: none;
  padding: 0px;
}
.lab-view .lab-file-list .thumbnail {
  background-color: none;
}
.lab-view .lab-file-list .lab-file {
  background-color: none;
}
.lab-view .lab-file-list .lab-file img {
  max-height: 75px;
}
.lab-view .lab-file-list .lab-file .caption {
  text-align: center;
}
.lounge-main {
  margin-top: 70px;
}
.toggle-dash {
  position: fixed;
  top: 5px;
  left: 5px;
}
.manage-password-view span.pw {
  font-size: 28px;
  font-weight: bold;
  margin: 50px;
  color: #800000;
}
.ui-tags input {
  font-size: 10 x;
  height: 16px;
  padding: 2px;
  width: 44px;
  margin-left: 10;
}
.ui-tags .tag {
  margin: 2px;
  float: left;
}
.ui-tags .ui-tags-cont {
  word-wrap: break-word;
}
.tags-list {
  color: #888;
  font-size: 10px;
  cursor: pointer;
  padding-left: 10px;
}
.tags-list .tag {
  margin-left: 4px;
  float: left;
  border: 1px solid rgba(0,0,0,0.05);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.6;
}
.tags-list:hover {
  color: #555;
}
.slider-cont {
  width: 100%;
  height: 18px;
  -webkit-user-select: none;
}
.slider-cont .slider-groove {
  position: relative;
  left: 0px;
  right: 0px;
  height: 50%;
  border: 1px solid #333;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.1);
}
.slider-cont .slider-handle {
  position: absolute;
  cursor: ew-resize;
  margin-left: -4px;
  bottom: -100%;
}
.slider-cont .slider-mark {
  position: absolute;
  color: #ff0;
  width: 2px;
  left: 20%;
  top: 0px;
  bottom: 0px;
}
.ui-ikeyboard {
  z-index: 9000;
}
.ui-ikeyboard .btn {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
