body {
  font-family: 'Helvetica';
}
.main.container {
  margin-top: 60px;
}
.navbar-inner {
  background-color: #1a1231;
}
.navbar > .navbar-inner > li.active {
  color: #4183c4;
}
.logo {
  padding: 40px;
}
.login-screen button {
  margin: 4px;
}
.login-screen .help-block {
  padding: 4px;
}
.detail {
  margin: 20px;
}
.detail input.fld {
  font-size: 20px;
  padding: 5px;
}
.detail span.add-on {
  padding: 5px;
}
.controls-cont .add-on,
.controls-cont input {
  padding: 6px;
}
.controls-cont input {
  font-size: 20px;
}
.list-cont {
  font-size: 16px;
}
.list-cont .list-item {
  font-size: 16px;
}
.list-cont .list-item i {
  font-size: 16px;
  position: relative;
  bottom: -6px;
}
.list-cont .list-item input {
  font-size: 16px;
  padding: 4px;
  background-color: transparent;
  border: 1px solid transparent;
}
.list-cont .list-item input.err,
.list-cont .list-item input.err:hover,
.list-cont .list-item input.err:focus {
  background-color: rgba(255,0,0,0.1);
  border: 1px dotted rgba(255,0,0,0.5);
}
.list-cont .list-item input:hover,
.list-cont .list-item input:focus {
  background-color: rgba(255,255,255,0.8);
  border: 1px dotted #333;
}
.list-cont .list-item img.thumb {
  width: 100px;
}
.list-cont tr.list-item:hover td {
  background-color: rgba(80,0,80,0.1);
}
.list-cont tr.list-item.selected,
.list-cont tr.list-item.selected:hover {
  background-color: rgba(102,255,102,0.2);
}
thead.off {
  display: none;
}
thead .list-item {
  background-color: rgba(0,255,255,0.1);
}
thead .list-item input {
  background-color: #eee;
  border: 1px dotted #ccc;
}
.top-bar img {
  width: 24px;
  border-radius: 4px;
}
.top-bar img:hover {
  box-shadow: 0 0 6px #eee;
}
.top-bar ul.nav li {
  font-size: 16px;
}
.top-bar li.user {
  margin-top: 8px;
}
.top-bar .icon-heart {
  color: #800000;
}
.top-bar .heart:hover .icon-heart {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.flash-message {
  position: fixed;
  top: 45px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.student-main {
  margin-top: 60px;
}
.student-main .piggy-bank {
  padding: 6px;
}
.student-main input {
  border: none;
  box-shadow: none;
}
.student-main .icon-heart {
  color: #310000;
}
.student-main .icon-heart.online {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.student-main tr button {
  opacity: 0;
}
.student-main tr:hover button {
  opacity: 1;
}
.files-main {
  margin-top: 60px;
}
.files-main .btn {
  cursor: pointer;
}
.files-main .btns-add .btn {
  margin-left: 4px;
}
.file-list-item input {
  border: 1px solid transparent;
  background-color: transparent;
}
.file-list-item input:hover {
  border: 1px dotted #333;
}
.file-list-item td .del {
  cursor: pointer;
  color: #ccc;
}
.file-list-item img.thumb {
  width: 100px;
}
.file-list-item:hover .del {
  color: #800000;
}
.browser-item {
  overflow: hidden;
}
.files-list {
  margin-top: 10px;
}
.files-list .btn-loose-group .btn {
  margin: 5px;
}
.files-list .logo {
  color: #999;
}
.files-list .hdr {
  margin-bottom: 10px;
}
.files-list li:hover {
  background-color: rgba(255,255,102,0.2);
  box-shadow: 2px 2px 10px rgba(255,255,102,0.2);
}
.files-list .thumbnail {
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
}
.files-list .thumbnail .file-type-icon {
  display: none;
}
.files-list .thumbnail img {
  height: 75%;
}
.files-list .thumbnail:hover img,
.files-list .thumbnail:hover .caption {
  background-color: transparent;
}
.files-list .thumbnail.video img,
.files-list .thumbnail.image img {
  box-shadow: 1px 1px 3px #333;
}
.files-list .thumbnail.video .file-type-icon,
.files-list .thumbnail.image .file-type-icon {
  display: block;
  position: relative;
  top: -30px;
  left: 10px;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  color: #eee;
}
.files-list .browser-item {
  height: 200px;
  white-space: nowrap;
}
.files-list .browser-item input.title {
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
}
.files-list .browser-item input.title:hover {
  border: 1px dotted #333;
}
.files-list .browser-item .item-info {
  position: relative;
  left: 3px;
  right: 3px;
  overflow-x: hidden;
  text-align: center;
}
.files-list .navbar,
.files-list .navbar-inner {
  background-color: transparent;
  background-image: url("img/bg.png");
}
.timeline {
  -webkit-user-select: none;
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0px;
  left: 0px;
}
.timeline .time-scroll-cont {
  position: absolute;
  top: 100px;
  left: 10px;
  right: 10px;
  height: 20px;
}
.timeline .time-window {
  margin: 20px;
  position: absolute;
  left: 10px;
  right: 10px;
  height: 80%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 50px;
}
.timeline .time-window .time-cont {
  position: absolute;
  height: 100%;
  border-bottom: 1px solid #333;
}
.timeline .time-window .time-cont .tick-marks {
  position: absolute;
  height: 16%;
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  bottom: 40px;
  opacity: 0.6;
  z-index: 9000;
}
.timeline .time-window .time-cont .tick-marks .mark {
  border-right: 1px solid #999;
  position: absolute;
}
.timeline .time-window .time-cont .tick-marks .lbl {
  position: absolute;
  font-size: 12px;
  margin-left: -5px;
  cursor: pointer;
}
.timeline .time-window .time-cont .tick-marks .second-mark {
  height: 20%;
}
.timeline .time-window .time-cont .tick-marks .five-second-mark {
  height: 35%;
}
.timeline .time-window .time-cont .tick-marks .quarter-minute-mark {
  height: 60%;
}
.timeline .time-window .time-cont .tick-marks .quarter-minute-mark-lbl {
  font-size: 9px;
  color: #999;
  margin-top: 20px;
}
.timeline .time-window .time-cont .tick-marks .half-minute-mark {
  height: 80%;
}
.timeline .time-window .time-cont .tick-marks .half-minute-mark-lbl {
  font-size: 9px;
  color: #999;
  margin-top: 28px;
}
.timeline .time-window .time-cont .tick-marks .minute-mark {
  height: 100%;
  border: 1px solid #666;
}
.timeline .time-window .time-cont .tick-marks .minute-mark-lbl {
  margin-top: 38px;
}
.timeline .time-window .time-cont .tick-marks:hover {
  opacity: 1;
}
.timeline .time-window .time-cont .time {
  position: absolute;
  width: 100%;
  height: 60%;
  margin: 0px;
  margin-top: 5%;
  margin-bottom: 25%;
  background-color: #eee;
  border: 1px solid #333;
}
.timeline .time-window .time-cont .time .video {
  background-color: rgba(64,0,128,0.4);
  width: 100%;
  height: 12px;
}
.timeline .time-window .time-cont .cursor-mark {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #333;
  z-index: 8000;
}
.timeline .time-window .time-cont .cursor-mark i {
  position: absolute;
  color: #333;
}
.timeline .time-window .time-cont .cursor-mark i.icon-caret-up {
  bottom: 10%;
  left: -4px;
}
.timeline .time-window .time-cont .cursor-mark i.icon-caret-down {
  top: 10%;
  left: -4px;
}
.timeline .time-window .time-cont .cursor-mark.user-mark {
  background-color: #ccc;
  display: none;
}
.timeline .time-window .time-cont .cursor-mark.user-mark i {
  color: #ccc;
}
.timeline .time-window .time-cont .cursor-mark.user-mark .time-info {
  position: absolute;
  bottom: 0px;
  left: -20px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  color: #fff;
  background-color: #333;
  border: 1px dotted #ccc;
}
.timeline .time-window .time-cont .cursor-mark.active {
  background-color: #008000;
}
.timeline .time-window .time-cont .cursor-mark.active i {
  color: #008000;
}
.timeline .time-window .time-cont .cursor-mark.active .time-info {
  position: absolute;
  bottom: 0px;
  left: -20px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  color: #fff;
  background-color: #008000;
  border: 1px dotted #ccc;
}
.timeline .time-window .time-cont .event {
  position: absolute;
  background-color: rgba(255,102,102,0.1);
  height: 50%;
  bottom: 0px;
}
.timeline .time-window .time-cont:hover .cursor-mark.user-mark {
  display: block;
}
.timeline .timer-cont {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.timeline .timer-cont .timer {
  margin: 40px;
}
.timeline .timer-cont .timer .clock .digit {
  font-size: 16px;
  background-color: #eee;
  border: 1px dotted #333;
  padding: 4px;
}
.timeline .timer-cont .timer ul.dropdown-menu {
  margin-left: 50px;
  min-width: 0;
  max-width: 50px;
}
.timeline .scale-slider {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 300px;
  left: 50px;
}
.timeline .slider-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  -webkit-user-select: none;
}
.timeline .slider-cont .slider-groove {
  position: relative;
  left: 0px;
  right: 0px;
  height: 50%;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #ccc;
}
.timeline .slider-cont .slider-handle {
  position: absolute;
  cursor: ew-resize;
  top: 0px;
  bottom: 0px;
  width: 8px;
  z-index: 8000;
  border-radius: 8px;
  background-color: #333;
  border: 1px solid #333;
}
.profile-view .modal-header img {
  border: 1px solid #333;
  padding: 3px;
  border-radius: 4px;
}
.teacher-page-view img {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
}
.emailer-view .modal-body {
  height: 320px;
}
.emailer-view .modal-body .editor-area {
  background-color: none;
  border: none;
  width: 90%;
  height: 300px;
  padding: 8px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}
.emailer-view .modal-body .editor-area .template-field {
  -webkit-user-select: none;
  user-select: none;
  display: inline;
  padding-left: 6px;
  border-radius: 30px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-top: 3px;
  margin: 0px;
  background-color: #5c3fae;
  color: #fff;
  font-size: 16px;
}
.lab-view {
  border: 1px solid #ccc;
  margin-top: 60px;
}
.lab-view .media-cont {
  border: 1px solid #00f;
}
.lab-view .message-cont {
  border: 1px solid #008000;
}
.nav-list {
  position: fixed;
  left: 5px;
  top: 25px;
}
.toggle-dash {
  position: fixed;
  top: 5px;
  left: 5px;
}
.manage-password-view span.pw {
  font-size: 28px;
  font-weight: bold;
  margin: 50px;
  color: #800000;
}
