body {
  font-family: 'Helvetica';
}
applet {
  position: fixed;
  top: -60px;
  right: 10px;
}
.main.container {
  margin-top: 60px;
}
.navbar-inner {
  background-color: #1a1231;
}
.navbar > .navbar-inner > li.active {
  color: #4183c4;
}
.logo {
  padding: 40px;
}
.login-screen button {
  margin: 4px;
}
.login-screen .help-block {
  padding: 4px;
}
.detail {
  margin: 20px;
}
.detail input.fld {
  font-size: 20px;
  padding: 5px;
}
.detail span.add-on {
  padding: 5px;
}
.controls-cont .add-on,
.controls-cont input {
  padding: 6px;
}
.controls-cont input {
  font-size: 20px;
}
.list-cont {
  font-size: 16px;
}
.list-cont .list-item {
  font-size: 16px;
}
.list-cont .list-item i {
  font-size: 16px;
  position: relative;
  bottom: -6px;
}
.list-cont .list-item input {
  font-size: 16px;
  padding: 4px;
  background-color: transparent;
  border: 1px solid transparent;
}
.list-cont .list-item input.err,
.list-cont .list-item input.err:hover,
.list-cont .list-item input.err:focus {
  background-color: rgba(255,0,0,0.1);
  border: 1px dotted rgba(255,0,0,0.5);
}
.list-cont .list-item input:hover,
.list-cont .list-item input:focus {
  background-color: rgba(255,255,255,0.8);
  border: 1px dotted #333;
}
.list-cont .list-item img.thumb {
  width: 100px;
}
.list-cont tr.list-item:hover td {
  background-color: rgba(80,0,80,0.1);
}
.list-cont tr.list-item.selected,
.list-cont tr.list-item.selected:hover {
  background-color: rgba(102,255,102,0.2);
}
thead.off {
  display: none;
}
thead .list-item {
  background-color: rgba(0,255,255,0.1);
}
thead .list-item input {
  background-color: #eee;
  border: 1px dotted #ccc;
}
.top-bar img {
  width: 24px;
  border-radius: 4px;
}
.top-bar img:hover {
  box-shadow: 0 0 6px #eee;
}
.top-bar ul.nav li {
  font-size: 16px;
}
.top-bar li.user {
  margin-top: 8px;
}
.top-bar .icon-heart {
  color: #800000;
}
.top-bar .heart:hover .icon-heart {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.flash-message {
  position: fixed;
  top: 45px;
  left: 0px;
  right: 0px;
  text-align: center;
}
.student-main {
  margin-top: 60px;
}
.student-main .piggy-bank {
  padding: 6px;
}
.student-main input {
  border: none;
  box-shadow: none;
}
.student-main .icon-heart {
  color: #310000;
}
.student-main .icon-heart.online {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.student-main tr .btn {
  opacity: 0;
}
.student-main tr .btn.active {
  opacity: 1;
}
.student-main tr:hover .btn {
  opacity: 1;
}
.files-main {
  margin-top: 60px;
}
.files-main .btn {
  cursor: pointer;
}
.files-main .btns-add .btn {
  margin-left: 4px;
}
.file-list-item input {
  border: 1px solid transparent;
  background-color: transparent;
}
.file-list-item input:hover {
  border: 1px dotted #333;
}
.file-list-item td .del {
  cursor: pointer;
  color: #ccc;
}
.file-list-item img.thumb {
  width: 100px;
}
.file-list-item:hover .del {
  color: #800000;
}
.browser-item {
  overflow: hidden;
}
.files-list {
  margin-top: 10px;
}
.files-list .btn-loose-group .btn {
  margin: 5px;
}
.files-list .logo {
  color: #999;
}
.files-list .hdr {
  margin-bottom: 10px;
}
.files-list li:hover {
  background-color: rgba(255,255,102,0.2);
  box-shadow: 2px 2px 10px rgba(255,255,102,0.2);
}
.files-list .thumbnail {
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
}
.files-list .thumbnail .file-type-icon {
  display: none;
}
.files-list .thumbnail img {
  height: 75%;
}
.files-list .thumbnail:hover img,
.files-list .thumbnail:hover .caption {
  background-color: transparent;
}
.files-list .thumbnail.video img,
.files-list .thumbnail.image img {
  box-shadow: 1px 1px 3px #333;
}
.files-list .thumbnail.video .file-type-icon,
.files-list .thumbnail.image .file-type-icon {
  display: block;
  position: relative;
  top: -30px;
  left: 10px;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.4);
  color: #eee;
}
.files-list .browser-item {
  height: 200px;
  white-space: nowrap;
}
.files-list .browser-item input.title {
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
}
.files-list .browser-item input.title:hover {
  border: 1px dotted #333;
}
.files-list .browser-item .item-info {
  position: relative;
  left: 3px;
  right: 3px;
  overflow-x: hidden;
  text-align: center;
}
.files-list .navbar,
.files-list .navbar-inner {
  background-color: transparent;
  background-image: url("img/bg.png");
}
.profile-view .modal-header img {
  border: 1px solid #333;
  padding: 3px;
  border-radius: 4px;
}
.teacher-page-view img {
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 4px;
}
.emailer-view .modal-body {
  height: 320px;
}
.emailer-view .modal-body .editor-area {
  background-color: none;
  border: none;
  width: 90%;
  height: 300px;
  padding: 8px;
  font-size: 18px;
  color: #333;
  line-height: 1.5;
}
.emailer-view .modal-body .editor-area .template-field {
  -webkit-user-select: none;
  user-select: none;
  display: inline;
  padding-left: 6px;
  border-radius: 30px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-top: 3px;
  margin: 0px;
  background-color: #5c3fae;
  color: #fff;
  font-size: 16px;
}
.lab-view {
  margin-top: 60px;
}
.lab-view .accordion-group .collapse.in .media-cont {
  opacity: 0.4;
}
.lab-view .accordion-group .collapse .media-cont {
  opacity: 1;
}
.lab-view .accordion-group .accordion-heading a {
  color: #333;
}
.lab-view .accordion-group.visible {
  border: 1px solid #d8a3ff;
  box-shadow: 0px 0px 10px #d8a3ff;
}
.lab-view .accordion-group.visible .collapse .media-cont {
  opacity: 1;
}
.lab-view .accordion-group.visible .collapse.in .media-cont {
  opacity: 1;
}
.lab-view .lab-recorder-cont .accordion-body {
  overflow: visible;
}
.lab-view .lab-students-cont .lab-student-list {
  margin-top: 20px;
}
.lab-view .lab-students-cont .lab-student-list .lab-student .online-status {
  color: #310000;
}
.lab-view .lab-students-cont .lab-student-list .lab-student.online .online-status {
  color: #f00;
  text-shadow: 0px 0px 6px #f00;
}
.lab-view .lab-students-cont .lab-student-list .lab-student.online.help {
  background-color: rgba(255,0,0,0.1);
}
.lab-view .lab-students-cont .lab-student-list .lab-student.online.help .online-status {
  color: #f00;
  text-shadow: 0px 0px 8px #f00;
}
.lab-view .lab-students-cont .accordion-inner {
  min-height: 350px;
}
.lab-view .lab-students-cont select {
  font-size: 10px;
  height: 20px;
}
.lab-view .btn.box {
  border: none;
  background-color: none;
  background-image: none;
  background-gradient: none;
  opacity: 0.5;
  padding: 2px;
}
.lab-view .btn.box.active {
  opacity: 1;
  text-shadow: 0px 0px 15px #008000;
}
.lab-view .lab-wb-a,
.lab-view .lab-wb-b {
  background-color: #eee;
}
.lab-view .wb-cont {
  padding: 2px;
}
.lab-view .thumbnails {
  max-height: 300px;
  overflow-y: auto;
}
.lab-view .media-cont video,
.lab-view .media-cont audio,
.lab-view .media-cont img {
  width: 100%;
}
.lab-view .media-cont video.audio-type {
  height: 0px;
  width: 0px;
}
.lab-view .media-cont .media.hid {
  display: none;
}
.lab-view .controls-cont {
  height: 34px;
}
.lab-view .wb-body {
  background-color: #fff;
  padding: 4px;
}
.lab-view .editor-area {
  min-height: 300px;
  margin-top: 30px;
  border: 1px solid #eee;
  padding: 8px;
  opacity: 0.6;
}
.lab-view .editor-area.visible {
  opacity: 1;
}
.lab-view .slider-cont {
  width: 100%;
  height: 18px;
  -webkit-user-select: none;
}
.lab-view .slider-cont .slider-groove {
  position: relative;
  left: 0px;
  right: 0px;
  height: 50%;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #ccc;
}
.lab-view .slider-cont .slider-handle {
  position: absolute;
  cursor: ew-resize;
  top: 0px;
  bottom: 0px;
  width: 8px;
  border-radius: 8px;
  background-color: #333;
  border: 1px solid #333;
}
.lab-view .lab-file-list {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #333;
  background-color: #fff;
  padding: 0px;
}
.lab-view .lab-file-list .thumbnail {
  background-color: #fff;
}
.lab-view .lab-file-list .lab-file {
  height: 140px;
  background-color: #fff;
}
.lab-view .lab-file-list .lab-file img {
  max-height: 75px;
}
.lab-view .lab-file-list .lab-file .caption {
  text-align: center;
}
.recorder .pause-vid {
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}
.nav-list {
  position: fixed;
  left: 5px;
  top: 25px;
}
.toggle-dash {
  position: fixed;
  top: 5px;
  left: 5px;
}
.manage-password-view span.pw {
  font-size: 28px;
  font-weight: bold;
  margin: 50px;
  color: #800000;
}
